.cardDetail{
    padding: 15px;
    text-transform:  uppercase;
    .titleDetail{
      font-size: 1.5rem;
    }
      .textDetail{
        font-size: 1.3rem;
      }
      .priceDetail{
        font-size: 1.5rem;
      }
      .imgDetail {
        width: 400px;
    }
}
.cardDetail:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
  }
  
  .container-titulo{
    text-transform: uppercase;
  }