.cardDetail{
    padding: 15px;
    text-transform:  uppercase;
    .titleDetail{
      font-size: 1.5rem;
    }
      .textDetail{
        font-size: 1.3rem;
      }
      .priceDetail{
        font-size: 1.5rem;
      }
      .imgDetail {
        width: 400px;
    }
}
.cardDetail
  
  .container-titulo{
    text-transform: uppercase;
  }