.catalogoContainer{
    background-color: #F5F5F5;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .container-titulo{
      justify-content: center;
      text-align: center;
      display: inline; 
  }
}
